body {
    background: linear-gradient(to left top, #00696d 40%, #004f53 32%) fixed;
}

.navbar-nav>li {
    padding-left: 70px;
    padding-right: 30px;
}

.kotak {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

.teks-bawah {
    margin-top: 300px;
    margin-left: 6%;
    text-align: right;
    color: white;
    width: 600px;
    font-weight: bold;
    font-size: x-large;
}

.kotak1 h6 {
    font-weight: lighter;
}

.kotak1 {
    font-size: 300%;
    color: white;
    font-weight: bold;
}

body {
    overflow-x: hidden;
}

.image-logo {
    display: block;
    margin-left: 100px;
}

.btn1 {
    color: #004f53;
    background-color: white;
    font-weight: bold;
    border-radius: 25px;
    width: 100px;
}

.btn2 {
    margin-left: 20px;
    background-color: #004f53;
    color: white;
    border-radius: 25px;
    width: 100px;
    border-color: white;
}

@media only screen and (max-width: 768px) {
    .image-logo {
        display: none;
    }
}